<?xml version="1.0" encoding="UTF-8"?>
<Configuration package="log4j" status="WARN">

	<appender name="util" class="org.apache.log4j.FileAppender">
		<param name="File" value="/tmp/util.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%t %-5p %c{2} - %m%n" />
		</layout>
	</appender>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="util" />
		</Root>
		<Root level="warn">
			<AppenderRef ref="util" />
		</Root>
		<Root level="error">
			<AppenderRef ref="util" />
		</Root>
	</Loggers>
</Configuration>